Repository WatchItDev/watchit-app, pull requests merged in 2025-04, with the labels that each got.

#663 refactor(layouts): improved eslint ensuring passing rules checks
  src/layouts/_common/account-popover/account-popover-button.tsx
  src/layouts/_common/header-simple.tsx
  src/layouts/_common/notifications-popover/notification-item.tsx
  src/layouts/_common/notifications-popover/notifications-popover.tsx
  src/layouts/_common/searchbar/types.ts
  src/layouts/_common/searchbar/utils.ts
  src/layouts/dashboard/nav-mini.tsx
  src/types/types.ts
Labels: enhancement, Refactor

#665 refactor(sections): improved eslint ensuring passing rules checks
  src/hooks/protocol/types.ts
  src/hooks/protocol/use-get-campaings.ts
  src/libs/profile.ts
  src/sections/explore/components/explore-bookmarks.tsx
  src/sections/finance/components/finance-balance-statistics.tsx
  src/sections/finance/components/finance-contacts.tsx
  src/sections/finance/components/finance-deposit.tsx
  src/sections/finance/components/finance-dialogs-actions.tsx
  src/sections/finance/components/finance-display-profile-info.tsx
  src/sections/finance/components/finance-invite-friends.tsx
  src/sections/finance/components/finance-modal.tsx
  src/sections/finance/components/finance-quick-transfer-modal.tsx
  src/sections/finance/components/finance-quick-transfer.tsx
  src/sections/finance/components/finance-search-profile-modal.tsx
  src/sections/finance/components/finance-tabs.tsx
  src/sections/finance/components/finance-transactions-history.tsx
  src/sections/finance/components/finance-widget-summary.tsx
  src/sections/finance/components/finance-withdraw.tsx
  src/sections/finance/types.ts
  src/sections/marketing/components/campaign-table-row.tsx
  src/sections/marketing/components/campaign-table.tsx
  src/sections/marketing/types.ts
  src/sections/ownership/components/ownership-process.tsx
  src/sections/publication/components/publication-comments-list.tsx
  src/sections/publication/components/publication-details-comment-form.tsx
  src/sections/publication/components/publication-replies-list.tsx
  src/sections/publication/types.ts
  src/sections/user/CONSTANTS.tsx
  src/sections/user/components/profile-followers.tsx
  src/sections/user/components/profile-following.tsx
  src/sections/user/components/profile-header.tsx
  src/sections/user/components/profile-home.tsx
  src/sections/user/components/profile-join.tsx
  src/sections/user/components/profile-publication-item.tsx
  src/sections/user/components/profile-referrals-table-row.tsx
  src/sections/user/components/profile-share.tsx
  src/sections/user/types.ts
  src/sections/user/views/user-profile-view.tsx
Labels: enhancement, Refactor

#671 refactor: limit profile creation and clear bookmarks on profile login and improve types
  src/components/login-modal/profile-select-view.tsx
  src/components/login-modal/types.ts
  src/redux/bookmark/index.ts
Labels: Refactor

#672 test(components): add test suite for avatar component
  src/components/avatar/__test__/Avatar.test.tsx
  src/components/avatar/__test__/__snapshots__/Avatar.test.tsx.snap
Labels: test

#673 test(components): add unit tests for CopyableText component
  src/components/copyable-text/__test__/__snapshots__/copyable-text.test.tsx.snap
  src/components/copyable-text/__test__/copyable-text.test.tsx
Labels: test

#674 test(components): add unit tests for CustomBreadcrumbs
  src/components/custom-breadcrumbs/__test__/__snapshots__/custom-breadcrumbs.test.tsx.snap
  src/components/custom-breadcrumbs/__test__/__snapshots__/link-item.test.tsx.snap
  src/components/custom-breadcrumbs/__test__/__snapshots__/types.test.ts.snap
  src/components/custom-breadcrumbs/__test__/custom-breadcrumbs.test.tsx
  src/components/custom-breadcrumbs/__test__/link-item.test.tsx
  src/components/custom-breadcrumbs/__test__/types.test.ts
  src/components/custom-breadcrumbs/custom-breadcrumbs.tsx
Labels: test

#678 test: add unit tests for explore section components and views (#653–#662)
  src/sections/explore/components/__test__/__mocks__/lens-protocol-react-web.ts
  src/sections/explore/components/__test__/__snapshots__/explore-bookmarks.test.tsx.snap
  src/sections/explore/components/__test__/__snapshots__/explore-carousel.skeleton.test.tsx.snap
  src/sections/explore/components/__test__/__snapshots__/explore-creators.skeleton.test.tsx.snap
  src/sections/explore/components/__test__/__snapshots__/explore-creators.test.tsx.snap
  src/sections/explore/components/__test__/__snapshots__/explore-loader.test.tsx.snap
  src/sections/explore/components/__test__/__snapshots__/explore-publications.skeleton.test.tsx.snap
  src/sections/explore/components/__test__/__snapshots__/explore-publications.test.tsx.snap
  src/sections/explore/components/__test__/__snapshots__/explore-top-publications.skeleton.test.tsx.snap
  src/sections/explore/components/__test__/__snapshots__/explore-top-publications.test.tsx.snap
  src/sections/explore/components/__test__/explore-bookmarks.test.tsx
  src/sections/explore/components/__test__/explore-carousel.skeleton.test.tsx
  src/sections/explore/components/__test__/explore-creators.skeleton.test.tsx
  src/sections/explore/components/__test__/explore-creators.test.tsx
  src/sections/explore/components/__test__/explore-loader.test.tsx
  src/sections/explore/components/__test__/explore-publications.skeleton.test.tsx
  src/sections/explore/components/__test__/explore-publications.test.tsx
  src/sections/explore/components/__test__/explore-top-publications.skeleton.test.tsx
  src/sections/explore/components/__test__/explore-top-publications.test.tsx
  src/sections/explore/components/explore-carousel.skeleton.tsx
  src/sections/explore/components/explore-creators.skeleton.tsx
  src/sections/explore/components/explore-creators.tsx
  src/sections/explore/components/explore-loader.tsx
  src/sections/explore/components/explore-publications.skeleton.tsx
  src/sections/explore/components/explore-top-publications.tsx
  src/sections/explore/types.ts
  src/sections/explore/views/__test__/__mock__/lens-protocol-react-web.explore.mock.ts
  src/sections/explore/views/__test__/__snapshots__/explore-view.test.tsx.snap
  src/sections/explore/views/__test__/explore-view.test.tsx
Labels: test
